<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enchendo linguica</title>
</head>
<body>
    <h1>Estou sem criatividade então se quiser ver algo mais interessante, <br>acessa esse <a target="_blank" href="https://github.com/Cacassiano/to-do-list-app">repositorio aqui</a></h1>
    <p><a href="/ola">pagina ola</a></p>
    <p><a href="/">pagina principal</a></p>
</body>
</html>