<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ola mundo</title>
</head>
<body>
    <h1>Olá mundo!</h1>
    <p>Veja coisas na <a href="/ola">pagina ola</a> ou na <a href="/enchendo-linguica">pagina de encher linguica</a></p>
</body>
</html>